@font-face { font-family: caflischscriptpro; src: url('caflischscriptpro-regular-81180.otf'); }

/* http://stackoverflow.com/questions/396145/how-to-vertically-center-a-div-for-all-browsers */
div.outer {
   width: 100%;
   padding: 0;
   display: table;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   margin: 0;
}
div.middle {
  padding: 0;
  vertical-align: middle;
  display: table-cell;
  margin: 0;
}
div.inner {
  width: 800px;
  margin: 0 auto;
}

h1 {
   color: orange;
   padding-left: 50px;
   font-family: caflischscriptpro;
   font-size: 300%;
}
h2 {
   text-align: center;
   font-family: caflischscriptpro;
   font-size: 300%;
}
h3 {
   text-align: center;
   font-family: caflischscriptpro;
   font-size: 150%;
}

p {
   font-family: caflischscriptpro;
   font-size: 150%;
}
p.center {
   text-align: center;
}

td { 
   padding: 10px;
}